main .deck-creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.deck-creation-form h2 {
    margin: 2rem;
    user-select: none;
    font-weight: lighter;

}

.deck-creation-form label {
    user-select: none;
}



.deck-creation-form input {
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    margin-inline: 0.5rem;
}

.deck-creation-form input:focus {
    border-color: #999;
    box-shadow: 0 0 5px #aaa;
    outline: none;
}

.deck-creation-form .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.cards ul{
    list-style: decimal;
}

/* fade in animation for adding a new card */
.cards li.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.card {
    user-select: none;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* frames of the fade in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.deck-creation-form button{
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
    margin: 5px;
}

.deck-creation-form .error-messages {
    color: red;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-inline: 0.5rem;
}

.deck-creation-form .remove-card {
    padding: 2px;
}

@media screen and (max-width: 640px) {
    .deck-creation-form .card{
        flex-direction: column;
    }
}