main h2 {
    margin: 2rem;
    user-select: none;
    font-weight: lighter;
}

main .deck-browser-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 60%;
}

.deck-browser-list {
    user-select: none;
}

.deck-name {
    color: #FFFFFF;
    margin-left: 5px;
}

.deck-browser-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
    min-width: 550px;
    height: auto;
    background: #666;
    border-radius: 5px;
}

.browser-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.deck-name {
    text-overflow: fade;
}

.deck-browser-list button {
    margin: 5px 20px;
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-browser-list button img {
    margin-right: 5px;
}

/* switch the layout for mobile screens to a narrower design */
@media all and (max-width: 768px) {
    .deck-browser-list li{
        flex-direction: column;
        min-width: 350px;
    }
}