/* center the cards without flex, it breaks scroll in some browsers */
.flash-cards-wrapper{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

/* set the size of the cards inside a flex box */
.flash-cards{
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
    flex-grow: 0.45;
    min-height: 300px;
    min-width: 280px;
    aspect-ratio: 3/4;
}

/* styles for the actual card */
.flash-card {
    position: absolute;
    perspective: 1500px;
    margin: 10px;
    user-select: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}

/* show the active card and hide the other one */
.flash-card.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.flash-card.active + .flash-card {
    opacity: 1;
    visibility: visible;
    z-index: 0;
}

.flash-card.active ~ .flash-card {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.flash-card:hover {
    cursor: default;
}

.flash-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
/* styles for the flash card faces */
.flash-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 1rem);
    font-weight: lighter;
    padding: 1rem;
    box-sizing: border-box;
}

.flash-card-front {
    background-color: #bbb;
    color: black;
}

/* 3d transformation to hide the back of the card */
.flash-card-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}

.flash-card p{
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
}

/* flip the card with a 3d transformation */
.flash-card-flip .flash-card-inner {
    transform: rotateY(180deg);
}

/* styles for the navigation buttons and card number */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-card {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-card:hover {
    background-color: #777;
}

.btn-card:active {
    background-color: #999;
}

.card-number {
    font-size: 1rem;
    margin: 0;
    user-select: none;
}