.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 10px auto;
}

#create-deck {
    padding: 5px;
    border: #777777;
    border-radius: 5px;
    background: #777777;
    color: white;
    cursor: pointer;
}

#create-deck:hover {
    background: #555555;
}