@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "flash-cards.css";
@import "deck-create.css";
@import "deck-browser.css";
@import "home.css";

body {
    font-family: Noto Sans JP, sans-serif;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #555;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    z-index: 3;
}

/* used to hide the drop down menu under the header bar */
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

header h1 {
    margin: 0;
    padding: 0 1rem;
    font-size: 2rem;
    user-select: none;
    font-weight: lighter;
}

/* hide the checkbox for burger menu */
#hamburger-checkbox {
    display: none;
}

/* style the burger menu lines */
nav #hamburger-lines {
    height: 26px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 1rem;
}

nav #hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
}

/* set transitions for each line */
nav #hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
}

nav #hamburger-lines .line2 {
    transform-origin: 0 50%;
    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
}

nav #hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
}

nav #hamburger-checkbox:checked + #hamburger-lines .line1 {
    transform: translateY(12px) rotate(-45deg);
    width: 60%;
}

nav #hamburger-checkbox:checked + #hamburger-lines .line3 {
    transform: translateY(-12px) rotate(45deg);
    width: 60%;
}

nav #hamburger-checkbox:checked ~ .nav-menu.side-menu {
    transform: translateX(0);
}

nav #hamburger-checkbox:checked ~ .nav-menu.dropdown-menu {
    transform: translateY(100px);
}

/* style the navigation menu */
.nav-menu {
    position: absolute;
    margin: 0;
    transition: transform 0.4s ease-in-out;
    background: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    z-index: -2;
    list-style: none;
}

/* specific position and transformation for the side menu */
.nav-menu.side-menu {
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    height: calc(100vh - 100px);
    width: 250px;
}

/* hide the drop down on pc and position it */
.nav-menu.dropdown-menu {
    visibility: hidden;
    width: 100%;
    height: auto;
    min-height: 50px;
    top: -50px;
    transform: translateY(-100%);
}

/* menu list styles */

.nav-menu li {
    margin: 10px 0;
}

.nav-link {
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    user-select: none;
    transition: 0.5s all ease-in-out;
}

.nav-link::after {
    content: '';
    display: block;
    position: relative;
    width: 0;
    left: 5%;
    height: 2px;
    background: white;
    transition: width 0.4s ease-in-out;
}

.nav-link:hover::after {
    width: 90%;
    transition: all 0.2s ease-in-out;
}

/* set scroll and height of main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #EEE;
    height: calc(100vh - 100px);
    overflow: scroll;
    overflow-x: hidden;
}

/* footer styles */
footer {
    width: 100%;
    height: 50px;
    min-height: 50px;
    background-color: #555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* changes to dropdown on mobile */
@media all and (max-width: 768px) {
    /* different transitions for burger menu */
    nav #hamburger-checkbox:checked + #hamburger-lines .line1 {
        transform: rotate(45deg);
        width: 100%;
    }

    nav #hamburger-checkbox:checked + #hamburger-lines .line2 {
        transform: rotate(45deg);
        opacity: 0;
        width: 100%;
    }

    nav #hamburger-checkbox:checked + #hamburger-lines .line3 {
        transform: rotate(-45deg);
        width: 100%;
    }

    /* hide the side menu and show the dropdown */
    .nav-menu.side-menu {
        visibility: hidden;
    }

    .nav-menu.dropdown-menu{
        visibility: visible;
    }
}